.App {
 margin: 2%;

}
body{
  background-color: #e8f1f2;
}
.dis{
  display: flex;
  justify-content:space-around;
  width: clamp(400px,70%,80%);
 margin: 5rem auto;
}
.display{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#titlemain{
 text-align: center; 
}
.length{
  display: flex;
  justify-content: center;
  gap:1%  

}
button{
  width:100px;
  font-size: xx-large;
}