.App {
 margin: 2%;

}
body{
  background-color: #e8f1f2;
}
.dis{
  display: flex;
  justify-content:space-around;

 margin: 5rem auto;
}
.display{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#titlemain{
 text-align: center; 
}

